# -------------------------
# Python compiled files
# -------------------------
__pycache__/
*.py[cod]
*$py.class

# -------------------------
# Virtual environments
# -------------------------
.venv/
venv/
env/
ENV/
.python-version

# -------------------------
# Environment variables
# -------------------------
.env
.env.*
*.env
betafit*.json
client_secret*

# -------------------------
# Distribution / packaging
# -------------------------
build/
dist/
*.egg-info/
.eggs/
*.egg
pip-wheel-metadata/

# -------------------------
# Logs
# -------------------------
*.log
betafit*.json
client_secret*

# -------------------------
# Testing
# -------------------------
.coverage
.coverage.*
htmlcov/
.pytest_cache/

# -------------------------
# Type checkers
# -------------------------
.mypy_cache/
.pyre/
.pytype/

# -------------------------
# Jupyter notebooks
# -------------------------
.ipynb_checkpoints/

# -------------------------
# IDE / Editor files
# -------------------------
.vscode/
.idea/
*.swp
*.swo

# -------------------------
# OS files
# -------------------------
.DS_Store
Thumbs.db

# -------------------------
# Database files
# -------------------------
*.sqlite3
*.db

# -------------------------
# Node (if frontend exists)
# -------------------------
node_modules/
dist/

# -------------------------
# Docker
# -------------------------
*.pid
*.seed
*.pid.lock

gunicorn.ctl

media